<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entry.status %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @entry.unique_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @entry.duration %>
</p>

<p>
  <strong>Score:</strong>
  <%= @entry.score %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @entry.thumbnail %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
